USE [master]
GO
/****** Object:  Database [reBOOKing]    Script Date: 2/10/2024 15:27:13 ******/
CREATE DATABASE [reBOOKing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'reBOOKing', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\reBOOKing.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'reBOOKing_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\reBOOKing_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [reBOOKing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [reBOOKing]
GO
/****** Object:  Table [dbo].[CARRITO]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRITO](
	[FK_PUBLICACION_ID] [int] NOT NULL,
	[FK_USUARIO_ID] [int] NOT NULL,
 CONSTRAINT [PK_CARRITO] PRIMARY KEY CLUSTERED 
(
	[FK_PUBLICACION_ID] ASC,
	[FK_USUARIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAVORITOS]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITOS](
	[FK_PUBLICACION_ID] [int] NOT NULL,
	[FK_USUARIO_ID] [int] NOT NULL,
 CONSTRAINT [PK_FAVORITOS] PRIMARY KEY CLUSTERED 
(
	[FK_PUBLICACION_ID] ASC,
	[FK_USUARIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLICACION]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICACION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITULO] [varchar](50) NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[MATERIA] [varchar](20) NULL,
	[ANIO] [varchar](20) NULL,
	[PRECIO] [int] NOT NULL,
	[FK_DUEÑO_LIBRO] [int] NOT NULL,
	[FOTO] [varchar](200) NOT NULL,
 CONSTRAINT [PK_PUBLICACION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEWS]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEWS](
	[FK_USUARIO_ID_REVIEWER] [int] NOT NULL,
	[FK_USUARIO_ID_RECIBIDOR] [int] NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[ESTRELLAS] [decimal](5, 0) NULL,
 CONSTRAINT [PK_REVIEWS] PRIMARY KEY CLUSTERED 
(
	[FK_USUARIO_ID_REVIEWER] ASC,
	[FK_USUARIO_ID_RECIBIDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
	[APELLIDO] [varchar](20) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[ESCUELA] [varchar](20) NULL,
	[TELEFONO] [int] NULL,
	[CONTRASENIA] [varchar](18) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CARRITO] ([FK_PUBLICACION_ID], [FK_USUARIO_ID]) VALUES (1, 3)
INSERT [dbo].[CARRITO] ([FK_PUBLICACION_ID], [FK_USUARIO_ID]) VALUES (2, 2)
GO
INSERT [dbo].[FAVORITOS] ([FK_PUBLICACION_ID], [FK_USUARIO_ID]) VALUES (1, 3)
INSERT [dbo].[FAVORITOS] ([FK_PUBLICACION_ID], [FK_USUARIO_ID]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[PUBLICACION] ON 

INSERT [dbo].[PUBLICACION] ([ID], [TITULO], [DESCRIPCION], [ESTADO], [MATERIA], [ANIO], [PRECIO], [FK_DUEÑO_LIBRO], [FOTO]) VALUES (1, N'Libro de Matemáticas', N'Un libro sobre matemáticas avanzadas', N'Como Nuevo', N'Matemáticas', N'2022', 200, 3, N'foto1.jpg')
INSERT [dbo].[PUBLICACION] ([ID], [TITULO], [DESCRIPCION], [ESTADO], [MATERIA], [ANIO], [PRECIO], [FK_DUEÑO_LIBRO], [FOTO]) VALUES (2, N'Historia del Arte', N'Exploración de la historia del arte', N'Bastante Uso', N'Arte', N'2021', 150, 2, N'foto2.jpg')
SET IDENTITY_INSERT [dbo].[PUBLICACION] OFF
GO
INSERT [dbo].[REVIEWS] ([FK_USUARIO_ID_REVIEWER], [FK_USUARIO_ID_RECIBIDOR], [DESCRIPCION], [ESTRELLAS]) VALUES (2, 3, N'Una lectura interesante.', CAST(4 AS Decimal(5, 0)))
INSERT [dbo].[REVIEWS] ([FK_USUARIO_ID_REVIEWER], [FK_USUARIO_ID_RECIBIDOR], [DESCRIPCION], [ESTRELLAS]) VALUES (3, 2, N'Excelente libro, muy recomendado.', CAST(5 AS Decimal(5, 0)))
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID], [NOMBRE], [APELLIDO], [EMAIL], [ESCUELA], [TELEFONO], [CONTRASENIA]) VALUES (2, N'Juan', N'Pérez', N'juan.perez@example.com', N'Escuela A', 123456789, N'PEPE_AMO12')
INSERT [dbo].[USUARIO] ([ID], [NOMBRE], [APELLIDO], [EMAIL], [ESCUELA], [TELEFONO], [CONTRASENIA]) VALUES (3, N'Ana', N'Gómez', N'ana.gomez@example.com', N'Escuela B', 987654321, N'ODIO_PEPE12')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[CARRITO]  WITH CHECK ADD  CONSTRAINT [FK_CARRITO_PUBLICACION] FOREIGN KEY([FK_PUBLICACION_ID])
REFERENCES [dbo].[PUBLICACION] ([ID])
GO
ALTER TABLE [dbo].[CARRITO] CHECK CONSTRAINT [FK_CARRITO_PUBLICACION]
GO
ALTER TABLE [dbo].[CARRITO]  WITH CHECK ADD  CONSTRAINT [FK_CARRITO_USUARIO] FOREIGN KEY([FK_USUARIO_ID])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[CARRITO] CHECK CONSTRAINT [FK_CARRITO_USUARIO]
GO
ALTER TABLE [dbo].[FAVORITOS]  WITH CHECK ADD  CONSTRAINT [FK_FAVORITOS_PUBLICACION] FOREIGN KEY([FK_PUBLICACION_ID])
REFERENCES [dbo].[PUBLICACION] ([ID])
GO
ALTER TABLE [dbo].[FAVORITOS] CHECK CONSTRAINT [FK_FAVORITOS_PUBLICACION]
GO
ALTER TABLE [dbo].[FAVORITOS]  WITH CHECK ADD  CONSTRAINT [FK_FAVORITOS_USUARIO] FOREIGN KEY([FK_USUARIO_ID])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[FAVORITOS] CHECK CONSTRAINT [FK_FAVORITOS_USUARIO]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_REVIEWS_RECIBIDOR] FOREIGN KEY([FK_USUARIO_ID_RECIBIDOR])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_REVIEWS_RECIBIDOR]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_REVIEWS_REVIEWER] FOREIGN KEY([FK_USUARIO_ID_REVIEWER])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_REVIEWS_REVIEWER]
GO
/****** Object:  StoredProcedure [dbo].[AGREGAR_REVIEW]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AGREGAR_REVIEW]
    @FK_Usuario_ID_Reviewer INT,
    @FK_Usuario_ID_Recibidor INT,
    @Descripcion NVARCHAR(200),
    @Estrellas DECIMAL(5, 0)
AS
BEGIN
    INSERT INTO [dbo].[REVIEWS] (FK_USUARIO_ID_REVIEWER, FK_USUARIO_ID_RECIBIDOR, DESCRIPCION, ESTRELLAS)
    VALUES (@FK_Usuario_ID_Reviewer, @FK_Usuario_ID_Recibidor, @Descripcion, @Estrellas);
END;
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_PUBLICACIONFAV]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_PUBLICACIONFAV]
    @UsuarioID INT,
    @PublicacionID INT
AS
BEGIN
    DELETE FROM [dbo].[FAVORITOS]
    WHERE FK_USUARIO_ID = @UsuarioID AND FK_PUBLICACION_ID = @PublicacionID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_FAVORITO]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AGREGAR_FAVORITO]
    @FK_Publicacion_ID INT,
    @FK_Usuario_ID INT
AS
BEGIN
    INSERT INTO [dbo].[FAVORITOS] (FK_PUBLICACION_ID, FK_USUARIO_ID)
    VALUES (@FK_Publicacion_ID, @FK_Usuario_ID);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_PUBLICACION]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AGREGAR_PUBLICACION]
    @Titulo NVARCHAR(50),
    @Descripcion NVARCHAR(200),
    @Estado NVARCHAR(20),
    @Materia NVARCHAR(20) = NULL,
    @Anio NVARCHAR(20) = NULL,
    @Precio INT,
    @FK_Dueño_Libro INT,
    @Foto NVARCHAR(200)
AS
BEGIN
    INSERT INTO [dbo].[PUBLICACION] (TITULO, DESCRIPCION, ESTADO, MATERIA, ANIO, PRECIO, FK_DUEÑO_LIBRO, FOTO)
    VALUES (@Titulo, @Descripcion, @Estado, @Materia, @Anio, @Precio, @FK_Dueño_Libro, @Foto);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_USUARIO]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AGREGAR_USUARIO]
    @Nombre NVARCHAR(20),
    @Apellido NVARCHAR(20),
    @Email NVARCHAR(50),
    @Escuela NVARCHAR(20) = NULL,
    @Telefono INT = NULL
AS
BEGIN
    INSERT INTO [dbo].[USUARIO] (NOMBRE, APELLIDO, EMAIL, ESCUELA, TELEFONO)
    VALUES (@Nombre, @Apellido, @Email, @Escuela, @Telefono);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSQUEDA]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BUSQUEDA]
    @Keyword NVARCHAR(50) = NULL,  
    @Materia NVARCHAR(20) = NULL,   
    @Estado NVARCHAR(20) = NULL,    
    @Anio NVARCHAR(20) = NULL,     
    @PrecioMin INT = NULL,           
    @PrecioMax INT = NULL            
AS
BEGIN
    SELECT * 
    FROM [dbo].[PUBLICACION]
    WHERE 
        (@Keyword IS NULL OR (TITULO LIKE '%' + @Keyword + '%' OR DESCRIPCION LIKE '%' + @Keyword + '%'))
        AND (@Materia IS NULL OR MATERIA = @Materia)
        AND (@Estado IS NULL OR ESTADO = @Estado)
        AND (@Anio IS NULL OR ANIO = @Anio)
        AND (@PrecioMin IS NULL OR PRECIO >= @PrecioMin)
        AND (@PrecioMax IS NULL OR PRECIO <= @PrecioMax);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_FAVORITOS]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MIS_FAVORITOS]
    @UsuarioID INT
AS
BEGIN
    SELECT p.ID, p.TITULO, p.DESCRIPCION, p.ESTADO, p.MATERIA, p.ANIO, p.PRECIO, p.FOTO
    FROM [dbo].[FAVORITOS] f
    INNER JOIN [dbo].[PUBLICACION] p ON f.FK_PUBLICACION_ID = p.ID
    WHERE f.FK_USUARIO_ID = @UsuarioID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_PUBLICACIONES]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MIS_PUBLICACIONES]
    @UsuarioID INT
AS
BEGIN
    SELECT * FROM [dbo].[PUBLICACION]
    WHERE FK_DUEÑO_LIBRO = @UsuarioID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_REVIEWS]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MIS_REVIEWS]
    @UsuarioID INT
AS
BEGIN
    SELECT * FROM [dbo].[REVIEWS]
    WHERE FK_USUARIO_ID_RECIBIDOR = @UsuarioID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_PROMEDIO_ESTRELLAS_USUSARIO]    Script Date: 2/10/2024 15:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PROMEDIO_ESTRELLAS_USUSARIO]
    @UsuarioID INT
AS
BEGIN
    SELECT AVG(ESTRELLAS) AS AvgRating
    FROM [dbo].[REVIEWS]
    WHERE FK_USUARIO_ID_RECIBIDOR = @UsuarioID;
END;
GO
USE [master]
GO
