@{
    ViewData["Title"] = "Crear Publicaci칩n";
}

<h2>Crear publicaci칩n</h2>

<div class="upload-container">
    <label class="upload-label">
        <div class="image-placeholder">
            <span>游닝</span>
        </div>
        <input type="file" class="image-upload" style="display: none;">
        <button type="button">Cargar Imagen</button>
    </label>
</div>

<label for="enBD">쮼l libro est치 en nuestra biblioteca?</label>
<select id="enBD" onchange="toggleForm()">
    <option value="S칤" selected>S칤</option>
    <option value="No">No</option>
</select>


<div id="bookSelection">
    <label for="selectBook">쮺u치l es el libro?</label>
    <select id="selectBook">
        <option value="" selected>Seleccione un libro</option>
          @foreach (Libro libro in ViewBag.ListaLibros)
            {
                <option class="dropdown-button" value="libro">@libro.nombre</option>
            }
    </select>

      <a href='@Url.Action("PublicacionExitosa", "Home")' class="card-rebooking">  <button type="submit" class="publish-button">PUBLICAR</button> <a>
</div>


<div id="bookForm" style="display: none; margin-top: 10px;">
    <form method="get" action='@Url.Action("PublicacionExitosa", "Home")'>
        <div>
            <label for="nombreLibro">Nombre del libro:</label>
            <input type="text" name="nombreLibro" id="nombreLibro" placeholder="Texto Previo Ingreso">
        </div>
        <div>
            <label for="anio">A침o:</label>
            <select name="anio" id="anio">
                <option value="" selected>Seleccione a침o</option>
                <option value="1">Primer a침o</option>
                <option value="2">Segundo a침o</option>
                <option value="3">Tercer a침o</option>
                <option value="4">Cuarto a침o</option>
                <option value="5">Quinto a침o</option>
            </select>
        </div>
        <div>
            <label for="precio">Ingrese precio:</label>
            <input type="number" name="precio" id="precio" placeholder="$">
        </div>
        <div>
            <label for="estado">Estado:</label>
            <select name="estado" id="estado">
                <option value="" selected>Seleccione estado</option>
                <option>Excelente</option>
                <option>Muy bueno</option>
                <option>Bueno</option>
                <option>Regular</option>
                <option>Muy usado</option>
            </select>
        </div>
        <div>
            <label for="materia">Materia:</label>
            <select name="materia" id="materia">
                <option value="" selected>Seleccione materia</option>
                <option>Historia</option>
                <option>Literatura</option>
                <option>Lengua</option>
                <option>Ciencias Sociales</option>
                <option>Ficci칩n</option>
                <option>C칩mic</option>
            </select>
        </div>
        <button type="submit" class="publish-button">PUBLICAR</button>
    </form>
</div>


<script>
    function toggleForm() {
        var enBD = document.getElementById("enBD").value;
        var bookForm = document.getElementById("bookForm");
        var bookSelection = document.getElementById("bookSelection");

        if (enBD === "No") {
            bookForm.style.display = "block";       
            bookSelection.style.display = "none";
        } else if (enBD === "S칤") {
            bookForm.style.display = "none";        
            bookSelection.style.display = "block";  
        } else {
            bookForm.style.display = "none";        
            bookSelection.style.display = "none";
        }
    }
</script>