@{
    ViewData["Title"] = "Home";
}
<h3>PUBLICACIONES</h3>

<!--INICIO PUBLICACIONES

    @foreach(publicaciones pub in ViewBag.Listado){
    <div class="card" style="width: 18rem; position: relative;">
        <img src="/img/@pub.Foto" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@pub.Nombre</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <button class="favorite-btn">
            <i class="fa fa-heart"></i>
        </button>
    </div>
    }
FIN PUBLICACIONES-->

