@{
    
}
 <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
    Login
</button>
  
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <h5 class="modal-title" id="loginModalLabel">Iniciar Sesi칩n</h5>
            <div class="modal-body">
                <form id="loginForm" method="post" action="#">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contrase침a:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contrase침a" required>
                    </div>
                    <a href='@Url.Action("Register", "Home")' class="register-link">Registrarse</a>
                    <button type="submit" class="btn-login">Iniciar Sesi칩n</button>
                </form>
            </div>
        </div>
    </div>
</div>
