@{
    ViewData["Title"] = "Donar";
}
<div class="contenedor-producto">
    <div class="contenedor-imagen">
        <img src="@ViewBag.Foto" alt="descFoto">
    </div>
    <div class="contenedor-detalles">
        <h2>@ViewBag.Titulo</h2>
        <p>@ViewBag.Descripcion</p>
        <button class="boton-comprar">COMPRAR</button>
    </div>
</div>