<h1> La compra se ha realizado con exito <h1>

  <a href='@Url.Action("TusPublicaciones", "Home")' class="card-rebooking"> <button type="submit" class="publish-button">Ver tus publicaciones</button> <a>
  <a href='@Url.Action("CrearPublicacion", "Home")' class="card-rebooking"> <button type="submit" class="publish-button">Cargar otra publicación</button> <a>
  