<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
    Registrarse
</button>

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <h5 class="modal-title" id="registerModalLabel">Registrarse</h5>
            <div class="modal-body">
                <form id="registerForm" method="post" action="#">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido:</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese su apellido" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Nombre Usuario:</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese su nombre usuario" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Escuela:</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese su eliga" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Año Escolar:</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese su año escolar" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" required>
                    </div>
                    <a href='@Url.Action("Register", "Home")' class="register-link">Iniciar Sesión</a>
                    <button type="submit" class="btn-register">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>