@{
    ViewData["Title"] = "Sobre Nosotros";
}
<h3>SOBRE NOSOTROS</h3>

<div class="contenedor-contenido">
    <div class="fila-contenido">
        <div class="texto-contenido">
            Somos reBOOKing, una compañía que se preguntó cómo podríamos facilitar la compra de libros con precios accesibles a estudiantes de ORT para que puedan tener una educación de calidad.
        </div>
        <div class="imagen-contenido">
            <img src="..\img\ort1.jpg" alt="ort">
        </div>
    </div>
</div>

<div class="contenedor-contenido">
    <div class="fila-contenido">
        <div class="imagen-contenido">
            <img src="..\img\ort2.jpg" alt="ort">
        </div>
        <div class="texto-contenido">
            Este proyecto surge a partir de la movilización de venta de libros a principio de año. Nuestra idea es mejorar la accesibilidad de materiales de estudio para alumnos de ORT de todos los niveles.
        </div>
    </div>
</div>
