@{
    ViewData["Title"] = "Sobre Nosotros";
}
<h3>SOBRE NOSOTROS</h3>

<div class="container text-center">
    <div class="row">
      <div class="col-sm-8">Somos reBOOKing, una companía que se preguntó como podriamos facilitar la compra de libros con precios accesibles a estudiantes de ORT para que puedan tener una educación de calidad.</div>
      <div class="col-sm-4"><img src="..\img\ort1.jpg" alt="ort"></div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
    <div class="col-sm-8"><img src="..\img\ort2.jpg" alt="ort"></div>
      <div class="col-sm-4">Este proyecto surge a partir de la movilización de venta de libros a principio de año. Nuestra idea es mejorar la accesibilidad de materiales de estudio para alumnos de ORT de todos los niveles.</div>
      
    </div>
</div>