@{
    ViewData["Title"] = "Tus Reviews";
}

<h1 class="titulo">Tus Opiniones</h1>

<div class="reviews-container">
    @foreach (Review review in ViewBag.Reviews)
    {
        <div class="review-card">
            <div class="review-header">
                <img src="..\img\usuario.png" alt="usuario foto perfil" class="profile-pic" />
                <h4>@BD.ObtenerNombreUsuario(review.usuario_recibidor)</h4>
                <div class="stars">
                    @for (int i = 0; i < 5; i++)
                    {
                        if (i < review.estrellas)
                        {
                            <span class="star filled">★</span>
                        }
                        else
                        {
                            <span class="star">☆</span>
                        }
                    }
                </div>
            </div>
            <p>@review.descripcion</p>
        </div>
    }
</div>