<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>

</head>
<body>
    <div class="profile-container">
        <div class="profile-picture"></div>
        <h2>Nombre del Usuario</h2>
        <div class="info">
            <p><strong>Nombre:</strong> @ViewBag.nombre</p>
            <p><strong>Apellido:</strong> Pérez</p>
            <p><strong>Usuario:</strong> Juan123</p>
            <p><strong>Email:</strong> juan@gmail.com</p>
            <p><strong>Fecha de nacimiento:</strong> 01/01/2000</p>
            <p><strong>Escuela:</strong> Escuela Nacional</p>
            <p><strong>Año Escolar:</strong> 2024</p>
        </div>
    </div>
</body>
</html>
