.card {
    position: relative;
}

.favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #ff0000;
    cursor: pointer;
    outline: none;
}

.favorite-btn i {
    pointer-events: none;
}

.favorite-btn:hover {
    color: #cc0000;
}

.col-sm-8, .col-sm-4{
    font-size: larger;
    display: flex;
    align-items: center;
}

.col-sm-8 img, .col-sm-4 img{
    width: 500px;
    height: auto;
    border-radius: 25px;
}