@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 20%;
    }
}
.container-rebooking {
    background-color: transparent; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sobre-nosotros {
    margin-bottom: 20px;
    background-color: #ffeecd; 
    padding: 20px;
    border-radius: 10px;
}

.sobre-nosotros h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.sobre-nosotros p {
    font-size: 18px;
    color: #333;
}


.img-libro {
    max-width: 150px;
    height: auto;
    display: block;
}

.filters-rebooking {
    margin-bottom: 20px;
    background-color: rgb(240, 235, 248);
    padding: 10px;
    border-radius: 10px;
}
.form-select-rebooking {
    width: 10%;
    padding: .375rem 1.25rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-filter-rebooking {
    display: inline-block;
    padding: .375rem 1.25rem;
    height: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    background-color: #d3b4f5;
    border: 1px solid #ced4da;
    color: white;
    border-radius: .25rem;
    transition: background-color .3s ease-in-out, transform .3s;
    cursor: pointer;
}

.btn-filter-rebooking:hover {
    background-color: #b3a0e6;
    transform: scale(1.05);
}



.card-rebooking {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    background-color: white;
    text-decoration: none;
    width: fit-content;

}

.card-rebooking:hover {
    transform: scale(1.02);
}

.card-img-top-rebooking {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 450px;
    width: 100%;
}

.card-body-rebooking {
    padding: 15px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title-rebooking {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 3px;

}

.card-price-rebooking {
    font-size: 18px;
    color: #6c63ff;
    font-weight: bold;
    margin: 3px;
}

.estado1{
    color: #70E000;
    font-weight:normal;
}
.estado2{
    color: #C6FF37;
    font-weight:normal;
}
.estado3{
    color: #FFEA00;
    font-weight:normal;
}
.estado4{
    color: #FF3B3B;
    font-weight:normal;

}
.estado5{
    color: #FF3B3B;
    font-weight: normal;
}
.carritoimg{
    height: 40px;
    width: 40px;
}
.card-img-top-rebooking2 {
    border-radius: 10px;
    object-fit: cover; 
    height: 600px; 
    width: 100%;
}
.price{
    font-weight: bold;
    font-size:xx-large;
}
.datos{
    font-weight: bold;
    font-size:x-large;
}
.informacion{
    font-weight: normal;
}

.logo 
{
    width: 6%;
    height: 6%;
    border-radius: 10px;
    margin:5%;
}
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
  }
  .venta{
    display: flex;
  }
  
  .image-placeholder {
    width: 200px;
    height: 200px;
    background-color: #ccc; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #666;
    border-radius: 10px;
    overflow: hidden; 
  }
  .caracteristicas{
    display: flex;
    flex-direction: column;
    
  }
  .seleccion{
    display: flex;
    flex-direction: column;
  }
  .nuevolibro{
    margin-left: 30px;
  }
  .inputdatos{
    margin:5px;
    background-color:#EDE7F6;
    border:none;
  }
  .publish-button{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }